h1 {
    margin-left: 70px;
    margin-top: -50px;
}

.p1 {
    background-color: aquamarine;
    width: 500px;
    height: 100px;
    overflow: scroll;

    border: dotted 10px red;     
}

.p2 {
    background-color: aquamarine;
    width: 500px;
    height: 100px;
    overflow: scroll;

    border: solid green 5px;
}

.p3 {
    background-color: aquamarine;
    width: 500px;
    height: 100px;
    overflow: scroll;

    border-style: dashed;
    border-width: 10px;
    border-color: blue;
}